@{
    ViewBag.Title = "Página Inicial";
}

<div class="container">
    <div class="jumbotron">
        <div class="container" style="margin-left: 20%;">
            <h2>Lojas Felipe</h2>
            <p>Seja bem-vindo ao site das Lojas Felipe</p>
        </div>
    </div>
</div>
  