<div class="container">
    <div class="jumbotron">
        <div class="container" style="margin-left: 20%">
            <h2>Relatório de clientes</h2>
            <label>Escolha o formato: </label>
            <select name="dropDownFormato">
                <option value="">Escolha um formato</option>
                <option value="1">PDF</option>
                <option value="2">Word</option>
            </select>
        </div>
    </div>
</div>