@{
    ViewBag.Title = "Compra";
}

<div class="container">
    <div class="jumbotron">
        <div class="container" style="margin-left: 20%;">
            <p>Pedido realizado com sucesso!</p>
        </div>
    </div>
</div>